@use '../abstracts/mixins-adaptive' as adapt;
@use '../abstracts/variables' as vars;

// Стили для 600px
@include adapt.mobile {
  .container-banner{
    display: flex;
    flex-direction: column;
    padding: 24px 16px 50px 16px;
  }
  .container-banner img{
    display: none;
    margin-bottom: 12px !important;
  }
  .container-banner article{
    padding: 0;
    max-width: 326px;
    margin: auto;

    h1{
      font-size: 42px;
    }
    img{
      display: block;
      max-width: 230px;
      margin: auto;
    }
    a{
      display:block;
      max-width: 140px;
      margin: auto;
    }
  }
  .categories{
    display: none;
  }
  .container-plants{
    max-width: 360px;
    margin-bottom: 80px;
  }
  .main-content-header{
    margin-bottom: 32px;
  }
  .main-content{
    align-items: flex-start;
  }
  .products{

    display: flex !important;
    flex-direction: row !important;
    align-items: start !important;
    max-width: 360px;
    justify-content: flex-start;
    gap: 24px;
    .banner-from-category{
      display: block;
      max-width: 310px;
      margin: auto;
    }
    .product:last-child {
      justify-self: start; // Только последний элемент выравнивается по левому краю
      margin-left: 0; // Убираем левый отступ
    }
  }
  .product{
    max-width: 152px;
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
      object-fit: contain;
      object-position: center;
      margin-bottom: 12px !important;
    }
  }
  .product-icons {
    top: 120px; // Сбрасываем top
    bottom: 10px; // Располагаем внизу
    left: 55%; // Центрируем по горизонтали
    transform: translateX(-50%); // Точное центрирование
    width: 80%; // Задаем ширину в процентах от контейнера
  }
  .pagination-container{
    max-width: 215px;
    margin:0 auto;
  }
  .pagination{

  }
  .blog{
    max-width: 360px;
    margin: auto;
    row-gap: 80px;
    .container-promotion{
      flex-direction: column;
      justify-content: center;
      padding: 20px 42px 20px 42px;

    }
    .container-promotion:nth-child(2){
      display: none;
    }
    .promo-content{
      align-items: center;
      padding: 32px 4px 39px 4px;
      p{
        margin-bottom: 24px;
        text-align: center;
      }
      a{

      }
    }
    .container-promotion img{

    }
  }

  .blog-post:not(:first-child) {
    display: none;
  }

  .blog{

    margin-bottom: 40px;

  }
  .prefooter{
    max-width: 360px;
    margin: auto;
    .prefooter-promo{
      flex-direction: column;
      background: white;
      .promo-card{
        order: 2;
        max-width: 204px;
        margin: auto;
        border-top: 1px solid rgba(70, 163, 88, 0.1);
        border-right: none;
        margin-bottom: 16px;
        text-align: center;
        h3, img{
          margin: 0;
          margin-bottom: 16px;
        }
        p{
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .promo-newsletter{
        max-width: 360px;
        margin: auto;
        order: 1;
        padding: 25px 25px 25px 25px;
        .newsletter-form{
          input{
            max-width: 228px;
          }
          button{
            max-width: 72px;
            padding: 12px 20px 12px 20px;
          }
        }
      }
    }
    .contacts{
      flex-direction: column;
      align-items: center;
      gap: 16px;
      .adress, .contact-email, .phone_number{
        max-width: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    }
  }
  .footer-main-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 360px;
    flex-wrap: wrap;
    background-color: white;
    padding: 40px 40px 40px 40px;
  }

  .nav-but-wrap{
    display: inline-block !important;
  }

}