// layout/_prefooter.scss
@use 'sass:color';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;
@use '../abstracts/extensions' as ext;

.prefooter {
  box-sizing: border-box;

  &-promo {
    background: vars.$light-bg;
    padding: 20px;
    @include mix.container;
    @include mix.flex;
    text-align: start;
    gap: 48px;
    padding: 24px 25px;
  }
}

.promo-card {
  border-right: 1px solid vars.$border-color;

  img {
    margin-bottom: 16px;
    margin-right: 130px;
  }

  h3 {
    margin-bottom: 10px;
    @include mix.heading(vars.$fs-large, vars.$font-bold);
    line-height: 94%;
  }

  p {
    text-align: start;
  }
}

.promo-newsletter {
  text-align: start;
  padding-bottom: 1px;
  padding-top: 13px;

  h2 {
    margin-bottom: 25px;
    text-align: start;
  }

  p {
    text-align: start;
  }
}

.newsletter-form {
  @include mix.flex;
  width: 100%;
  height: 40px;
  margin-bottom: 18px;

  input {
    border: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: vars.$white;
    border-radius: vars.$border-radius 0 0 vars.$border-radius;
    padding: 12px 86px 12px 12px;

    &::placeholder {
      font-weight: vars.$font-normal;
      font-size: vars.$fs-small;
      line-height: 114%;
      color: vars.$placeholder-text;
    }
  }

  button {
    cursor: pointer;
    border: none;
    background: vars.$primary-color;
    border-radius: 0 vars.$border-radius vars.$border-radius 0;
    overflow: hidden;
    padding: 12px 25px;
    transition: vars.$transition-normal;

    &:hover {
      background: vars.$white;

      span {
        color: vars.$primary-color;
      }
    }

    span {
      font-family: vars.$main-font;
      font-weight: vars.$font-bold;
      font-size: vars.$fs-xl;
      line-height: 89%;
      color: vars.$white;
    }
  }
}

.contacts {
  box-sizing: border-box;
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
  @include mix.container;
  @include mix.flex;
  gap: 130px;
  padding: 24px 25px;
  margin-bottom: 49px;

  p {
    font-weight: vars.$font-normal;
    font-size: vars.$fs-small;
    line-height: 157%;
    color: vars.$dark-text;
    text-align: start;
  }
}

.adress, .contact-email, .phone_number {
  max-width: 230px;
  @include mix.flex;
  gap: 10px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.adress::before {
  background-image: url(/images/adress-icon.svg);
}

.contact-email::before {
  background-image: url(/images/email-icon.svg);
}

.phone_number {
  background-image: url(/images/phone-number-icon.png);
  background-repeat: no-repeat;
}